

/* -------------------  angular-ui-bootstrap setup  ------------------- */



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



/* -------------------  Start of navbar component  ----------------------- */


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    color: black;
    padding: 0;
    border: 0;
    font-size: 1.2em;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-brand {
    float: left;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FFF;
    background-color: darkgray;
}

.navbar-inverse .navbar-collapse {
    border-color: #e4dcdc;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #e4dcdc;
}

.navbar-inverse .navbar-toggle {
    background-color: white;
    border-color: #e4dcdc;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: darkgray;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    color: #FFFFFF;
    background-color: darkgray;
}

.navbar-inverse .navbar-nav li a {
    color: #000;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
    color: #FFF;
    background-color: darkgray;
}

@media (max-width: 768px) {
    .navbar-header {
        min-height: 70px;
    }
    .navbar-brand {
        max-width: 300px;
    }

    .navbar-toggle {
        margin-top: 18px;
    }

    .navbar-right {
        margin-top: 10px;
    }
}



/* -------------------  End of navbar component  ----------------------- */



/* --------------  Start of carousel-slideshow component  -------------- */



.carousel-height {
    height: 305px;
}

.carousel-caption {
    letter-spacing: 5px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn {
    font-size: 18px;
    padding: 12px 22px;
    color: white;
    background-color: darkgray;
    border: 2px solid white;
}

.btn:hover {
    color: white;
    background-color: black;
}



/* ---------------  End of carousel-slideshow component  ---------------- */



/* -------------------  Start of header-title component  ------------------ */



.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.badge {
    background-color: black;
}



/* --------------------  End of header-title component  ------------------- */



/* -------------------  Start of video-player component  ------------------ */




/*
  Player Skin Designer for Video.js http://videojs.com
*/
.video-js {
    /* The base font size controls the size of everything, not just text.
       All dimensions use em-based sizes so that the scale along with the font size.
       Try increasing it to 15px and see what happens. */
    font-size: 10px;
    /* The main font color changes the ICON COLORS as well as the text */
    color: #fff;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.vjs-default-skin .vjs-big-play-button {
    /* The font size is what makes the big play button...big.
       All width/height values use ems, which are a multiple of the font size.
       If the .video-js font-size is 10px, then 3em equals 30px.*/
    font-size: 4em;
    /* We're using SCSS vars here because the values are used in multiple places.
       Now that font size is set, the following em values will be a multiple of the
       new font size. If the font-size is 3em (30px), then setting any of
       the following values to 3em would equal 30px. 3 * font-size. */
    /* 1.5em = 45px default */
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    /* 0.06666em = 2px default */
    border: 0.06666em solid #fff;
    /* 0.3em = 9px default */
    border-radius: 0.3em;
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    /* Opacity: 1.0 = 100%, 0.0 = 0% */
    background-color: rgba(43, 51, 63, 0);
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
    background: #fff;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
    /* For IE8 we'll lighten the color */
    background: #bfc7d3;
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(115, 133, 159, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
    /* For IE8 we'll lighten the color */
    background: white;
    /* Otherwise we'll rely on stacked opacities */
    background: rgba(115, 133, 159, 0.75);
}

.shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel p {
    background-color: white;
}

.padding-lr-32 {
    padding-left: 32px;
    padding-right: 32px;
}


/* -------------------  End of video-player component  ------------------ */



/* -------------------  Start of search-section component  ------------------ */



.boarderless {
    border: 0;
}

.shadow-bottom {
    box-shadow: -5px 4px 6px 4px rgba(0,0,0,0.2), -3px 3px 4px 0px rgba(0,0,0,0.1);
}

.font-size-24 {
    font-size: 24px;
}


/* -------------------  End of search-section component  ------------------ */



/* -------------------  Start of search-result component  ------------------ */


.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}


/* -------------------  End of search-result component  ------------------ */




/* -------------------  Start of dashboard-footer component  ------------------ */


footer {
    background-color: white;
}


/* -------------------  End of dashboard-footer component  ------------------ */